{
    "swagger": "2.0",
    "info": {
        "title": "Barracuda CloudGen WAN Gateway Managed Application API",
        "description": "API specification for Barracuda CloudGen WAN Gateways Managed Applications on Azure.",
        "version": "2020-09-23"
    },
    "host": "management.azure.com",
    "schemes": {
        "https"
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
              "user_impersonation": "Impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomProviders/resourceproviders/public/updateNva": {
            "post": {
                "operationId": "postUpdateNva",
                "description": "Updates the scale unit of the CloudGen WAN Gateway",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [
                    {
                      "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                      "$ref": "#/parameters/ResourceGroupParameter"
                    },
                    {
                      "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Scale unit definition to implement.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ScaleUnit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "429": {
                        "description": "Conflict"
                    }
                }
            }
        }
    },
    "definitions": {
        "ScaleUnit": {
            "type": "object",
            "required": ["properties"],
            "properties": {
                "properties": {
                    "type": "object",
                    "required": ["scaleUnit"],
                    "properties": {
                        "scaleUnit": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ResourceGroupParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        }
    }
}
